
{% extends "base.html" %}

{% block title %}
    Traduction
{% endblock %}

{% block content %}


<body class='bg-dark'>
    <form class='block rounded-lg bg-white p-6 shadow-lg dark:bg-neutral-700' action="/add_category" method="post" >
        <label for="product_category_name_french">Nom de catégorie en français:</label>
        <input type="text" id="product_category_name_french" name="product_category_name_french" required>
        <button type="submit">Ajouter une catégorie</button>
    </form>

    <h1>Liste des catégories</h1>
    <div class='flex justify-center content-center '>
    <table class='bg-slate-600 text-white text-center rounded'>
        <thead class='bg-slate-800 text-white '>
            <tr class='border border-solid border-1 '>
                <th class='p-4 ' >ID</th>
                <th>Nom de catégorie</th>
                <th>Nom de catégorie (anglais)</th>
                <th>Nom de catégorie (français)</th>
            </tr>
        </thead>
        <tbody id="categories-table">
            {% for row in rows %}
                <tr class='border border-solid border-1 hover:bg-white hover:text-black'>
                    <td>{{ row.id }}</td>
                    <td>{{ row.product_category_name }}</td>
                    <td>{{ row.product_category_name_english }}</td>
                    <td>{{ row.product_category_name_french }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>


{% endblock %}