{% extends "base.html" %}

{% block content %}

<iframe
    src="http://oslist.francecentral.cloudapp.azure.com:3000/public/dashboard/682eafd7-48ca-44c8-a55f-415c59d3b6e8"
    frameborder="0"
    width="1600"
    height="1000"
    allowtransparency
></iframe>

<iframe
    src="http://oslist.francecentral.cloudapp.azure.com:3000/public/dashboard/719d0d61-144b-4f84-a4de-2811c07ae58f"
    frameborder="0"
    width="1600"
    height="1000"
    allowtransparency
></iframe>


<iframe
    src="http://oslist.francecentral.cloudapp.azure.com:3000/public/dashboard/2a599b5a-a595-4705-afef-34db70f7c777"
    frameborder="0"
    width="1600"
    height="1000"
    allowtransparency
></iframe>
{% endblock %}