<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% include 'partials/nav.html' %}
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
