<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemple FastAPI avec Jinja2</title>
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js%22%3E"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class='bg-dark'>
    <form class='block max-w-sm rounded-lg bg-white p-6 shadow-lg dark:bg-neutral-700' action ="/add_category" method="post" onsubmit="handleSubmit(event)">
        <label for="product_category_name_french">Nom de catégorie en français:</label>
        <input type="text" id="product_category_name_french" name="product_category_name_french" required>
        <button type="submit">Ajouter une catégorie</button>
    </form>

    <h1>Liste des catégories</h1>
    <div class='flex justify-center content-center '>
    <table class='bg-slate-600 text-white text-center rounded'>
        <thead class='bg-slate-800 text-white '>
            <tr class='border border-solid border-1 '>
                <th class='p-4 ' >ID</th>
                <th>Nom de catégorie</th>
                <th>Nom de catégorie (anglais)</th>
                <th>Nom de catégorie (français)</th>
            </tr>
        </thead>
        <tbody id="categories-table">
            {% for row in rows %}
                <tr class='border border-solid border-1 hover:bg-white hover:text-black'>
                    <td>{{ row.id }}</td>
                    <td>{{ row.product_category_name }}</td>
                    <td>{{ row.product_category_name_english }}</td>
                    <td>{{ row.product_category_name_french }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    
</body>
<script>
    function handleSubmit(event) {
        event.preventDefault(); // empêcher le formulaire de se soumettre normalement
        const formData = new FormData(event.target); // récupérer les données du formulaire

        fetch('/add_category', { // envoyer les données à la route "/add_category" en utilisant fetch
            method: 'POST',
            body: formData
        })
        .then(response => response.json()) // récupérer la réponse JSON
        .then(data => {
            console.log(data); // afficher la réponse dans la console
            // mettre à jour la partie du contenu de la page qui affiche les catégories
            const tableBody = document.querySelector('#categories-table tbody');
            const newRow = document.createElement('tr');
            newRow.innerHTML = 
                <td>${data.id}</td>
                <td>${formData.get('product_category_name_french')}</td>
                <td>${data.product_category_name_english}</td>
                <td>${data.product_category_name_french}</td>
            ;
            tableBody.appendChild(newRow);
        })
        .catch(error => console.error(error)); // gérer les erreurs
    }
</script>
</html>